 <div class="message">
      <div class="message-date">
        <div class="message-name">
        <%= message.user.name %>
        </div>
        <div class="message-time">
        <%= l message.created_at %>
        </div>
      </div>
    <div class="under-message">
      <div class="comment">
      <%= message.content %>
      </div>
    </div>
 </div>
